.DS_Store
.idea/
.vscode/
__pycache__/
*/__pycache__/*
wandb/

data/
*/*df.csv
random_forests/__pycache__/*
df*.csv
*df.csv
./datasets/
*.html

004_lr_and_rf_modelling/all_models/*
004_lr_and_rf_modelling/*results.csv